.w-alert{
    min-height:33px;
    display:flex;
    align-items:center;
    position:relative;
    padding:10px 50px 10px 10px;
    box-sizing:border-box;
    border-radius:5px;
    transition:.3s
}
.w-alert .w-alert-message{
    font-size:15px
}
.w-alert .w-ui-guanbi{
    position:absolute;
    right:15px;
    cursor:pointer
}
.w-alert-primary{
    border:1px solid #1890ff;
    color:#1890ff
}
.w-alert-success{
    border:1px solid #45a200;
    color:#45a200
}
.w-alert-danger{
    border:1px solid #c42a35;
    color:#c42a35
}
.w-alert-warning{
    border:1px solid #fcb040;
    color:#fcb040
}
.w-alert-,.w-alert-default{
    border:1px solid #606266;
    color:#606266
}
.w-alert- .w-ui-guanbi,.w-alert-default .w-ui-guanbi,.w-alert- .w-message-icon,.w-alert-default .w-message-icon{
    color:#606266
}
.w-alert-sbdw-primary{
    background:#e8f4ff
}
.w-alert-sbdw-success{
    background:#e1ffea
}
.w-alert-sbdw-danger{
    background:#ffe8e6
}
.w-alert-sbdw-warning{
    background:#fff1e3
}
.w-alert-sbdw-,.w-alert-bac-default{
    background:#f6f6f6
}
.w-alert-center{
    justify-content:center
}

.w-back-top {
    position: fixed;
    width: 38px;
    height: 38px;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .2);
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666262;
    font-size: 13px;
    z-index: 999999
}

.w-back-top:hover {
    transition:  .2s;
    background: #dddfe2
}


.w-button {
    min-width: 40px;
    padding: 0 22px;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: .3s;
}

.w-button-primary {
    background: #1890ff;
}

.w-button-primary:hover {
    background: #5d88f6;
    box-shadow: 0 0 3px #5d88f6;
}

.w-button-primary:active {
    background: #0852f3;
}

.w-button-success {
    background: #18a058;
}

.w-button-success:hover {
    background: #74d62a;
    box-shadow: 0 0 3px #74d62a;
}

.w-button-success:active {
    background: #45a200;
}

.w-button-danger {
    background: #c42a35;
}

.w-button-danger:hover {
    background: #ea3941;
    box-shadow: 0 0 3px #ea3941;
}

.w-button-danger:active {
    background: #b90510;
}

.w-button-warning {
    background: #fcb040;
}

.w-button-warning:hover {
    background: #f0cd5c;
    box-shadow: 0 0 3px #f0cd5c;
}

.w-button-warning:active {
    background: #fcb040;
}

.w-button-,
.w-button-default {
    background: #f4f5f5;
}

.w-button-:hover,
.w-button-default:hover {
    background: #eee;
    box-shadow: 0 0 3px #eee;
}

.w-button-:active,
.w-button-default:active {
    background: #dbdbdb;
}

.w-button-round {
    border-radius: 26px;
}

.w-button-simple-danger,
.w-button-simple-default,
.w-button-simple-primary,
.w-button-simple-success,
.w-button-simple-warning {
    background: #f4f5f5;
}

.w-button-simple-primary:hover {
    background: #eee;
    box-shadow: 0 0 3px #eee;
}

.w-button-simple-primary:active {
    background: #dbdbdb
}

.w-button-simple-success:hover {
    background: #eee;
    box-shadow: 0 0 3px #eee
}

.w-button-simple-success:active {
    background: #dbdbdb;
}

.w-button-simple-danger:hover {
    background: #eee;
    box-shadow: 0 0 3px #eee;
}

.w-button-simple-danger:active {
    background: #dbdbdb;
}

.w-button-simple-warning:hover {
    background: #eee;
    box-shadow: 0 0 3px #eee;
}

.w-button-simple-warning:active {
    background: #dbdbdb;;
}

.w-button-simple-default:hover {
    background: #eee;
    box-shadow: 0 0 3px #eee;
}

.w-button-simple-default:active {
    background: #dbdbdb;
}

.w-button-disabled-danger,
.w-button-disabled-default,
.w-button-disabled-primary,
.w-button-disabled-success,
.w-button-disabled-warning {
    opacity: .6;
    cursor: no-drop;
}

.w-button-disabled-primary {
    background: #1890ff;
}

.w-button-disabled-success {
    background: #54c600;
}

.w-button-disabled-danger {
    background: #d10f1b;
}

.w-button-disabled-warning {
    background: #fbcc30;
}

.w-button-disabled-default {
    background: #f4f5f5;
}

.w-button-simple-disabled-danger,
.w-button-simple-disabled-default,
.w-button-simple-disabled-primary,
.w-button-simple-disabled-success,
.w-button-simple-disabled-warning {
    opacity: .6;
    cursor: no-drop;
}

.w-button-size-large {
    width: 50%;
}

.w-button-size-small {
    min-width: 30px;
    padding: 0 17px;
    height: 30px;
}

.w-button-size-mini {
    min-width: 20px;
    padding: 0 12px;
    height: 25px;
}

.w-button-square {
    border-radius: 0;
}


.w-card {
    border: 1px solid #e0e0eb;
    border-radius: 4px;
}

.w-card .w-card-header {
    border-bottom: 1px solid #e0e0eb;
    height: 38px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #3d4044;
}

.w-card .w-card-header .w-card-title {
    font-weight: 600;
    color: #414040;
}

.w-card .w-card-header .w-card-subtitle {
    font-size: 14px;
}

.w-card .w-card-content {
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 14px;
    color: #303133;
}

.w-card-shadow-always {
    box-shadow: 2px 2px 18px 3px rgba(0, 0, 0, .1), 0 0 4px 0 rgba(0, 0, 0, .1)
}

.w-card-shadow-hover:hover {
    transition: box-shadow .25s;
    box-shadow: 2px 2px 18px 3px rgba(0, 0, 0, .1), 0 0 4px 0 rgba(0, 0, 0, .1)
}

.w-dialog-packing{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0
}
.w-dialog-packing .w-dialog{
    padding:20px;
    box-sizing:border-box;
    background:#fff;
    margin:auto;
    border-radius:2px;
    border-radius:5px;
    box-shadow:0 3px 20px #0003
}
.w-dialog-packing .w-dialog .w-dialog-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom:16px
}
.w-dialog-packing .w-dialog .w-dialog-header .w-dialog-title{
    font-size:15px;
    color:#333
}
.w-dialog-packing .w-dialog .w-dialog-header .w-ui-close{
    cursor:pointer
}
.w-dialog-packing .w-dialog .w-dialog-footer{
    padding-top:10px;
    text-align:right
}
.w-dialog-modal{
    background:rgba(0,0,0,.3)
}
.w-dialog-enter-active{
    transition:all .2s ease-out
}
.w-dialog-leave-active{
    transition:all .3s cubic-bezier(1,.5,.8,1)
}
.w-dialog-enter-from,.w-dialog-leave-to{
    transform:translateY(-20px);
    opacity:0
}

.w-divider{
    width:100%;
    display:inline-block;
    height:1px;
    background-color:silver;
    position:relative
}
.w-divider .w-divider-text{
    position:absolute;
    background-color:#fff;
    padding:0 20px;
    font-weight:500;
    font-size:14px;
    transform:translateY(-50%)
}
.w-divider .w-divider-text-right{
    right:28px
}
.w-divider .w-divider-text-,.w-divider .w-divider-text-left{
    left:28px
}
.w-divider .w-divider-text-center{
    left:50%;
    transform:translate(-50%) translateY(-50%)
}

.w-image{
    display:inline-block
}
.w-image .w-image-select{
    user-select:none
}
.w-image .w-image-error{
    background-color:rgb(255, 255, 255);
    padding:5px;
    border-radius:5px;
    display:inline-block;
    color:#9c9da0;
    font-size:18px
}

.w-input {
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    transition: .35s
}

.w-input .w-input-input {
    width: 100%;
    border-radius: 5px;
    color: #3f536e;
    border: 1.5px solid #72a3c9;
    outline: 0;
    padding: 0 8px;
    transition: border .38s;
    background: #fff;
    box-sizing: border-box
}

.w-input .w-input-input:focus {
    border: 1.5px solid #5468ff
}


.w-input .w-input-input-large {
    line-height: 42px;
    font-size: 16px
}


.w-input .w-input-input-medium {
    line-height: 36px;
    font-size: 15px
}


.w-input .w-input-input-small {
    line-height: 30px;
    font-size: 13px
}


.w-input .w-input-input-mini {
    line-height: 25px;
    font-size: 12px
}



.w-input .w-input-clear-padding {
    padding-right: 26px
}

.w-input .w-input-clear {
    position: absolute;
    right: 10px;
    margin: auto
}

.w-input-disabled {
    background: #f5f7fa!important;
    border-color: #e4e7ed!important;
    color: #c0c4cc!important;
    cursor: not-allowed;
}

.w-link {
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

.w-link-primary {
    color: #1890ff;
}

.w-link-success {
    color: #45a200;
}

.w-link-danger {
    color: #c42a35;
}

.w-link-warning {
    color: #fcb040;
}

.w-link-default {
    color: #484e55;
}

.w-link-isdisable-danger,
.w-link-isdisable-default,
.w-link-isdisable-primary,
.w-link-isdisable-success,
.w-link-isdisable-warning {
    opacity: .6;
    cursor: no-drop;
}

.w-message {
    display: inline-block;
    min-width: 130px;
    height: 35px;
    border-radius: 4px;
    padding: 0 23px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 0 8px 2px rgba(36, 35, 35, 0.1);
    user-select: none;
    z-index: 99999;
    transform: translateX(-50%);
    position: fixed;
    top: -37px;
    left: 50%;
    animation: wMessage .17s linear forwards
}

.w-message .w-message-body {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center
}

.w-message .w-message-body .w-message-message {
    font-size: 13px
}

@keyframes wMessage {
    to {
        top: 23px
    }
}

.w-message-body-- {
    color: #484848
}

.w-message-body-- .w-icon {
    color: #484848!important
}

.w-message-body--primary {
    color: #1890ff
}


.w-message-body--success {
    color: #45a200
}

.w-message-body--danger {
    color: #c42a35
}

.w-message-body--warning {
    color: #fcb040
}

.w-notification{
    width:320px;
    min-height:75px;
    background-color:#fff;
    border-radius:5px;
    padding:15px 20px;
    box-sizing:border-box;
    position:fixed;
    box-shadow:2px 1px 10px 1px rgba(26, 25, 25, 0.2);
    z-index:4000
}
.w-notification .w-notification-body{
    display:flex
}
.w-notification .w-notification-body .w-notification-icon{
    font-size:27px;
    margin:6px 16px 0 0
}
.w-notification .w-notification-body .w-notification-content{
    max-width:200px
}
.w-notification .w-notification-body .w-notification-content .w-notification-title{
    margin:0;
    color:#333;
    font-size:16px;
    display:block
}
.w-notification .w-notification-body .w-notification-content .w-notification-message{
    margin-top:3px
}
.w-notification .w-notification-body .w-notification-content .w-notification-message p{
    font-size:15px;
    color:#606266;
    margin:0
}
.w-notification .w-notification-body .w-ui-close{
    font-size:18px;
    cursor:pointer;
    position:absolute;
    top:18px;
    right:13px;
    color:#bbb
}
.w-notification-top-left{
    top:22px;
    left:-320px;
    animation:topLeft .23s linear forwards
}
.w-notification-top-right{
    top:22px;
    right:-320px;
    animation:topRight .23s linear forwards
}
.w-notification-bottom-left{
    bottom:22px;
    left:-320px;
    animation:bottomLeft .23s linear forwards
}
.w-notification-bottom-right{
    bottom:22px;
    right:-320px;
    animation:bottomRight .23s linear forwards
}
@keyframes topRight{
    to{
        right:20px
    }
}
@keyframes topLeft{
    to{
        left:20px
    }
}
@keyframes bottomRight{
    to{
        right:20px
    }
}
@keyframes bottomLeft{
    to{
        left:20px
    }
}
.w-notification-fade-enter-from,.w-notification-fade-leave-to{
    opacity:0;
    -webkit-transform:translate(-50%,-100%);
    transform:translate(-50%,-100%)
}


.w-switch {
    display: inline-block;
    transition: .3s;
    position: relative;
    border-radius: 20px;
    cursor: pointer
}

.w-switch .w-switch-roll {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: .3s;
    border-radius: 50%;
    background-color: #fff
}

.w-switch-disabled {
    opacity: .6;
    cursor: no-drop
}

.w-switch-closeText,
.w-switch-openText {
    vertical-align: top;
    font-size: 13px;
    color: rgb(99, 96, 96);
    transition: .3s
}

.w-switch-closeText {
    margin-right: 8px
}

.w-switch-openText {
    margin-left: 8px
}

.w-table {
    background: #fff;
    overflow: auto;
    display: inline-block;
    width: 100%
}

.w-table .w-table-table {
    border-collapse: collapse
}

.w-table .w-table-table .w-tbody-td,
.w-table .w-table-table .w-thead-td {
    padding: 10px;
    box-sizing: border-box
}

.w-table .w-table-table .w-thead {
    border-bottom: 1px solid #dcdfe6;
    color: #6e6e6e
}

.w-table .w-table-table .w-tbody .w-tbody-tr {
    border-bottom: 1px solid #dcdfe6;
    color: grey
}

.w-table .w-table-table .w-tbody .w-tbody-tr:hover {
    background: #f5f7fa
}

.w-table .w-table-table .w-tbody .w-tbody-tr-zebra:nth-child(odd) {
    background: #fafafa
}

.w-table .w-table-table .w-table-border {
    border: 1px solid #dcdfe6
}


.w-tag {
    min-width: 57px;
    height: 28px;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    cursor: default;
    user-select: none;
    padding: 0 6px
}

.w-tag-primary {
    color: #096dd9;
    background: #e6f7ff;
    border-color: #91d5ff;
}

.w-tag-success {
    color: #389e0d;
    background: #f6ffed;
    border-color: #b7eb8f;
}

.w-tag-danger {
    color: #cf1322;
    background: #fff1f0;
    border-color: #ffa39e;
}

.w-tag-warning {
    color: #d46b08;
    background: #fff7e6;
    border-color: #ffd591;
}

.w-tag-default {
    color: #000000d9;
    background: #d1d3d4;
    border-color: #a2a8ac;
}

.w-tag-round {
    border-radius: 15px
}

.w-tag-small {
    min-width: 48px;
    height: 24px;
    line-height: 25px;
    font-size: 13px
}

.w-tag-mini {
    min-width: 40px;
    height: 21px;
    line-height: 22px;
    font-size: 12px
}


.w-drawer-packing {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.w-drawer-packing .w-drawer {
    position: fixed;
    background: #fff;
    z-index: 300;
    padding: 20px;
    box-shadow: 0 7px 30px #0003
}

.w-drawer-packing .w-drawer .w-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.w-drawer-packing .w-drawer .w-drawer-header .w-drawer-title {
    font-size: 15px;
    color: #333
}

.w-drawer-packing .w-drawer .w-drawer-header .w-ui-close {
    cursor: pointer
}

.w-drawer-packing .w-drawer .w-drawer-body {
    margin-top: 20px
}

.w-drawer-packing .w-drawer-top {
    top: 0;
    left: 0;
    right: 0
}

.w-drawer-packing .w-drawer-left {
    left: 0;
    top: 0;
    bottom: 0
}

.w-drawer-packing .w-drawer-bottom {
    bottom: 0px;
    right: 0;
    left: 0
}

.w-drawer-packing .w-drawer-,
.w-drawer-packing .w-drawer-right {
    right: 0px;
    top: 0;
    bottom: 0
}

.w-drawer-modal {
    background: rgba(0, 0, 0, .4)
}

.w-drawer-enter-active {
    transition: all .2s ease-out
}

.w-drawer-leave-active {
    transition: all .3s cubic-bezier(1, .5, .8, 1)
}

.w-drawer-enter-from,
.w-drawer-leave-to {
    transform: translate(20px);
    opacity: 0
}


.w-menu {
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    justify-content: space-between;
    padding: 0 22px
}

.w-menu .w-menu-left,
.w-menu .w-menu-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60px
}

.w-menu .w-menu-default {
    flex-wrap: wrap
}

.w-menu-flex {
    display: flex
}

.w-menu-dark {
    background: #001428
}

.w-menu-light {
    background: #fff
}

.w-menu-shadow {
    box-shadow: 0 7px 15px #0000001a
}

.w-menu-item {
    height: 52px;
    padding: 0 22px;
    font-size: 14.1px;
    cursor: pointer;
    display: flex;
    align-items: center
}

.w-menu-item-prohibit {
    cursor: not-allowed;
    color: #bbb !important
}

.w-menu-item-prohibit:after {
    background: none
}


.w-do-page {
    display: flex;
    width: 100%
}

.w-do-page-item {
    flex: 1;
    transition: .2s
}

.w-do-page-item .w-do-page-item-link {
    text-decoration: none;
    color: #515a6e;
    cursor: pointer
}

.w-do-page-item .w-do-page-item-link:hover {
    color: #3169f7
}

.w-do-page-item .w-do-page-item-link:hover .tyh-icon {
    color: #3169f7 !important
}

.w-do-page-item .w-do-page-item-prohibit {
    opacity: .5;
    cursor: not-allowed
}

.w-do-page-item .w-do-page-item-prohibit .tyh-icon {
    opacity: .5 !important;
    color: #515a6e !important
}

.w-do-page-item .w-do-page-item-prohibit:hover {
    opacity: .5;
    color: #515a6e
}

.w-do-page-item .w-do-page-item-prohibit:hover .tyh-icon {
    color: #515a6e !important
}
